{% include 'base.html' %}
<section id="about" class="about" >
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <p>Learn More <span>About Us</span></p>
      </div>

      <div class="row gy-4">
        <div class="col-lg-7 position-relative about-img" style="background-image: url(static/img/about.jpg) ;" data-aos="fade-up" data-aos-delay="150">
          
        </div>
        <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
          <div class="content ps-0 ps-lg-5">
            <p class="fst-italic">
              The institute has an outdoor cafeteria that takes utmost care in providing hygienic food at subsidized rates. The cafeteria offers a wide range of cuisines like south Indian, north Indian and Chinese. Besides this, it also has fruit juice and a Frankie stall.

The Canteen Committee takes care of maintaining the quality of food served in the canteen.
            </p>
            

            <div class="position-relative mt-4">
              <img src="static/img/sreyas.jpg" class="img-fluid" alt="">
              <a href="https://youtu.be/2azOlTU6YHk " class="glightbox play-btn"></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

