{% include 'base.html' %}
<section id="menu" class="menu">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <p>Check Our <span>Kanteen ka khana</span></p>
      </div>

      

      <div class="tab-content" data-aos="fade-up" data-aos-delay="300">

        <div class="tab-pane fade active show" id="menu-starters">

          <div class="tab-header text-center">
            <h3>Menu</h3>
          </div>

          <div class="row gy-5">

            <div class="col-lg-4 menu-item">
              <a href="static/img/menu/manchurian.jpg" class="glightbox"><img src="static/img/menu/manchurian.jpg" class="menu-img img-fluid" alt=""></a>
              <h4>manchurian</h4>
              
              <p class="price">
                Rs.90
              </p>
            </div><!-- Menu Item -->

            <div class="col-lg-4 menu-item">
              <a href="static/img/menu/chicken65.jpg" class="glightbox"><img src="static/img/menu/chicken65.jpg" class="menu-img img-fluid" alt=""></a>
              <h4>Chicken 65</h4>
              
              <p class="price">
                Rs.110
              </p>
            </div><!-- Menu Item -->

            <div class="col-lg-4 menu-item">
              <a href="static/img/menu/frankie.png" class="glightbox"><img src="static/img/menu/frankie.png" class="menu-img img-fluid" alt=""></a>
              <h4>Frankie</h4>
              <p class="ingredients">
                Lorem, deren, trataro, filede, nerada
              </p>
              <p class="price">
                Rs.60
              </p>
            </div><!-- Menu Item -->

            <div class="col-lg-4 menu-item">
              <a href="static/img/menu/biryani.jpg" class="glightbox"><img src="static/img/menu/biryani.jpg" class="menu-img img-fluid" alt=""></a>
              <h4>Biryani</h4>
              
              <p class="price">
                Rs.160
              </p>
            </div><!-- Menu Item -->

            <div class="col-lg-4 menu-item">
              <a href="static/img/menu/juice.png" class="glightbox"><img src="static/img/menu/juice.png" class="menu-img img-fluid" alt=""></a>
              <h4>Juice</h4>
             
              <p class="price">
                Rs.30
              </p>
            </div><!-- Menu Item -->

            <div class="col-lg-4 menu-item">
              <a href="static/img/menu/icecreams.jpg" class="glightbox"><img src="static/img/menu/icecreams.jpg" class="menu-img img-fluid" alt=""></a>
              <h4>Ice Cream</h4>
              
              <p class="price">
                Rs.45
              </p>
            </div><!-- Menu Item -->

          </div>
        </div><!-- End Starter Menu Content -->

      </div>

    </div>
  </section>

